<html>
    <head>
        <title>Road Runner</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="css/app.css">
    </head>

    <body>
        <!-- ============== HEADER ============== -->
        <header class="header-flex">
            <div class="header-elements">
                <a href="#main"><img src="assets/images/company-logo.png" alt="Company logo" class="header-logo"></a>
                <div class="tab-row">
                    <a href="#services" class="tab-button"><div>Services</div></a>
                    <a href="#aboutUs" class="tab-button"><div>About</div></a>
                    <a href="#partners" class="tab-button"><div>Partners</div></a>
                    <a href="#contactUs" class="tab-button"><div>Contact</div></a>
                    <a href="#reviews" class="tab-button"><div>Reviews</div></a>
                </div>
            </div>
        </header>
        

        <!-- ============== MAIN CONTENT ============== -->
        <main>
            <!-- ============== 1ST SECTION: LANDING PAGE ============== -->
            <div class="first-section-flex" id="main">
                <div class="text-space">
                    <div>
                        <p class="section-1-heading">Accomplish <span class="colored-text">errands</span> in the comfort of your <span class="colored-text">home</span></p>
                        <p class="section-1-subheading">Takeout? Groceries? Bill payments? Special deliveries? We'll do it for you!</p>
                    </div>
                    <button class="request-button" onclick="requestButton()">Make a request</button>
                </div>
                <div class="image-space">
                    <img src="assets/images/background-image.gif" alt="Woman with delivery package" class="background-image">
                </div>
            </div>
        
        
            <!-- ============== 2ND SECTION: 3 STEPS ============== -->
            <div class="second-section-flex">
                <div class="section-2-heading">
                    <p>Three Easy Steps!</p>
                </div>
                <div class="steps-row-flex">
                    <div class="step-container">
                        <img src="assets/images/step-1.gif" alt="Girl scrolling through her phone" class="step-image">
                        <p>Browse our errand options and make a request</p>
                    </div>
                    <div class="step-container">
                        <img src="assets/images/step-2.gif" alt="Delivery guy on a motorcycle" class="step-image">
                        <p>Your request will be collected and carried out by a designated errand runner</p>
                    </div>
                    <div class="step-container">
                        <img src="assets/images/step-3.gif" alt="Delivery guy with a package" class="step-image">
                        <p>Receive your invoice and errand-related products or services </p>
                    </div>
                </div>
            </div>


            <!-- ============== 3RD SECTION: ERRAND OPTIONS ============== -->
            <div class="third-section-flex" id="services">
                <div class="section-3-text">
                    <p class="section-3-heading">Errand Options</p>
                    <p class="section-3-subheading">Is your task list growing too long with the endless errands you have to do? Too busy to go out and pay the bills? Fear not! We're here to lend you a helping hand. Requests include but are not limited to the following:</p>
                </div>
                <div class="service-list-container">
                    <div class="service">
                        <p>Groceries</p>
                        <img src="assets/images/groceries.png" alt="Bag of fresh goods" class="service-image">
                    </div>
                    <div class="service">
                        <p>Foods</p>
                        <img src="assets/images/foods.png" alt="Burger and fries" class="service-image">
                    </div>
                    <div class="service">
                        <p>Bank Transaction</p>
                        <img src="assets/images/bank-transaction.png" alt="Bag of groceries" class="service-image">
                    </div>
                    <div class="service">
                        <p>Pharmacy</p>
                        <img src="assets/images/pharmacy.png" alt="Medicinal pills and tablets" class="service-image">
                    </div>
                    <div class="service">
                        <p>Bills Payment</p>
                        <img src="assets/images/bills-payment.png" alt="Money and an envelope" class="service-image">
                    </div>
                    <div class="service">
                        <p><i>Hatid - Sundo</i></p>
                        <img src="assets/images/hatid-sundo.png" alt="Burger and fries" class="service-image">
                    </div>
                    <div class="service">
                        <p>Money Transfer</p>
                        <img src="assets/images/money-transfer.png" alt="Burger and fries" class="service-image">
                    </div>
                    <div class="service">
                        <p>Special Requests</p>
                        <img src="assets/images/special-requests.png" alt="Burger and fries" class="service-image">
                    </div>
                </div>
            </div>


            <!-- ============== 4TH SECTION: ABOUT US ============== -->
            <div class="fourth-section-flex" id="aboutUs">
                <div class="section-4-text-1">
                    <img src="assets/images/company-logo.png" alt="Company logo" class="about-us-logo">
                    <p class="section-4-heading" id="section-4-heading">Road Runner</p>
                </div>
                <div class="section-4-text-2">
                    <p>Road Runner started out as a faraway dream that stemmed from the desire to spread kindness in little ways. With the help of many wonderful people, we are now nearing our ten-year anniversary and operating in 76 cities in the Philippines!</p>

                    <p>In this day and age where time does not seem to rest, responsibilities may pile up and we are bound to neglect some small necessities in life. You may be too busy at work or school, the store might be too far away, or the commute might be too expensive and time-consuming — whatever your troubles may be, we are here to help.</p>
                    
                    <p>At Road Runner, our aim is to make your life easier and a little more breathable. </p>
                </div>
            </div>


            <!-- ============== 5TH SECTION: PARTNERS ============== -->
            <div class="fifth-section-flex" id="partners">
                <div class="section-5-text">
                    <p class="section-5-heading">Partners</p>
                    <p class="section-5-subheading">Road Runner deeply values the contributions of our industry partners and stakeholders in line with our initiatives for delivering quality service to our customers.</p>
                </div>
                <img src="assets/images/partnerships.png" alt="Company logos" class="partnerships-image">
            </div>

            <!-- ============== 6TH SECTION: CONTACT US ============== -->
            <div class="sixth-section-flex" id="contactUs">
                <div class="section-6-text">
                    <p class="section-6-heading">Contact Us</p>
                    <p class="section-6-subheading">Have any questions? We'd love to hear from you.</p>
                </div>
                <div class="contact-container-1">
                    <div class="contact-option">
                        <p class="contact-heading">Press</p>
                        <p class="contact-subheading">Are you interested in our latest news or working on a Road Runner story and need to get in touch?</p>
                        <button class="contact-button">Visit Press Page</button>
                    </div>
                    <div class="contact-option">
                        <p class="contact-heading">Help & Support</p>
                        <p class="contact-subheading">Our support team is alert and ready to give you answers fast.</p>
                        <button class="contact-button">Visit Support Page</button>
                    </div>
                    <div class="contact-option">
                        <p class="contact-heading">Sales</p>
                        <p class="contact-subheading">Get in touch with our sales team to see how we can work together.</p>
                        <button class="contact-button">Contact Sales</button>
                    </div>
                </div>
                <div class="contact-container-2">
                    <div class="email-address">
                        <img src="assets/images/partnership.png" alt="Shaking hands icon" class="inner-image">
                        <div class="inner-text">
                            <p class="inner-heading">PARTNERSHIP REQUESTS:</p>
                            <p class="inner-subheading">partners@roadrunner.com</p>
                        </div>
                    </div>
                    <div class="mailing-address">
                        <img src="assets/images/mailing-address.png" alt="Letter icon" class="inner-image">
                        <div class="inner-text">
                            <p class="inner-heading">MAILING ADDRESS:</p>
                            <p class="inner-subheading">Road Runner</p>
                            <p class="inner-subheading">Gen. Douglas MacArthur Hwy, Talomo</p>
                            <p class="inner-subheading">Davao City, 8000 Davao del Sur</p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- ============== 7TH SECTION: REVIEWS ============== -->
            <div class="seventh-section-flex" id="reviews">
                <div class="section-7-text">
                    <p class="section-7-heading">Reviews</p>
                    <p class="section-7-subheading">Any thoughts about our operations? Help us get better at serving you!</p>
                </div>
                <div class="review-section">
                    <div class="review-inp">
                        <input class="name-inp" placeholder="Name"/>
                        <input class="contact-inp" placeholder="Contact Number"/>
                        <input class="comment-inp" placeholder="Comment"/>
                        <button onclick="addComment()" class="post-button">Post</button>
                    </div>
                    <div class="comment-area">
                        <p class="comment-heading">Comments</p>
                    </div>
                </div>
            </div> 
        </main>

        <script src="scripts/app.js"></script>
    </body>
</html>